<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Confirmation Page</title>
</head>
<body>

     <div  layout:fragment="content" class="container mySpace">
          <div class="alert alert-success">
           Email Successfully Verified!!! Please sign in  to Continue          
          </div>
          <br>
          <span th:text="${response}"></span>
     </div>
</body>
</html>