<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Forgot password</title>
</head>
<body align="center">

	<div layout:fragment="content" class="container mySpace">
	<strong>Forgot Password</strong>
	<br>
	<div class="alert alert-danger" th:if="${param.error}">
	
     <h2>Invalid Email</h2>	
	</div>
		<form th:action="@{/forgotPassword}" modelAttribute="userForm" method="post">

			<div class="form-group">
				<input name="email" type="email" id="email"  
            placeholder="Email" class="form-control" required />
				
			</div>
			<br>
			<input type="submit" value="Submit" class="btn btn-primary" />
			
			<p th:text="${displayMessage}"></p>
		

		</form>
	</div>
</body>
</html>