<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Reset password</title>
</head>
<body align="center">

	<div layout:fragment="content" class="container mySpace">
	<strong>Reset Password</strong>
	<br>
		<form action="#" modelAttribute="userForm" method="post">

			<div class="form-group">
				<input name="password" type="password" id="password"  
            placeholder="Password" class="form-control" required />
				
			</div>
			<br>
			<div class="form-group">
				<input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" name="passwordConfirm" data-fv-notempty="true"
                                       data-fv-notempty-message="Please confirm password"
                                       data-fv-identical="true"
                                       data-fv-identical-field="password"
                                       data-fv-identical-message="Both passwords must be identical" 
                                       path="passwordConfirm"/>
			</div>
			<br>
			<input type="submit" value="Submit" class="btn btn-primary" />
			
			<br>
			
			<strong><p th:text="${errorMessage}"></p></strong>
		

		</form>
	</div>
</body>
</html>